.module{
    margin: 160px 0;
}
.module .hd{
    margin-bottom: 6px;
    line-height: 32px;
}
.module .hd span{
    font-size: 20px;
    font-weight: bold;
    color: var(--title-color);
}

.mod-poster{
    margin-bottom: 25px;
}
.mod-poster .bd{
    padding: 60px 0;
	line-height: 24px;
}
.mod-poster .bd h1{
    margin-bottom: 10px;
	line-height: 48px;
    font-weight: bold;
	font-size: 36px;
	color:var(--title-color);
}
.mod-poster .bd h1 span.tag{
    display: inline-block;
    padding: 0 8px;
    margin: 0 5px;
    background: rgba(255, 255, 255,0.8);
    line-height: 26px;
    vertical-align: middle;
    font-size: 13px;
    color: rgb(110, 119, 129);
    border-radius: 4px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.03);
}
.mod-poster .bd p{
    margin-bottom: 10px;
    line-height: 26px;
}
.mod-poster .bd b{
	margin: 0 3px;
	color: #fd7474;
}
.mod-poster .buttons{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 6px;
    line-height: 32px;
}
.mod-poster .btn {
    display: inline-block;
    height: 44px;
    min-width: 120px;
    padding:0 20px;
    margin: 0 5px;
    background: #2095f2;
    border: medium none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.05);
    line-height: 42px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 21px;
    text-decoration: none;
}
.mod-poster .btn img,.mod-poster .btn span{
    vertical-align: middle;
}
.mod-poster .btn:hover{
	background: #1b85da;
}
.mod-poster .btn-green{
	background: #4bae4f;
	color: #fff;
}
.mod-poster .btn-green:hover{
	background: #47a04b;
}
.mod-poster .bd .btn-red{
	background: #f56954;
	color: #fff;
}
.mod-poster .btn-red:hover{
	background: #f4543c;;
}
.mod-poster .btn-orange{
	background: #ff9000;
	color: #fff;
}
.mod-poster .btn-orange:hover{
	background: #e18309;
}

.mod-panel{
    margin-bottom: 25px;
    background: #fff;
    border: 1px solid #f0f0f099;
    border-radius: 8px;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.02);
}
.mod-panel .hd{
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #f0f0f099;
    line-height: 24px;
}
.mod-panel .hd .title{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;  
    color: var(--title-color);
}
.mod-panel .hd .more{
    float: right;
    text-decoration: none;
    color: #999;
}
.mod-panel .hd::after{
    position: absolute;
    left: 2px;
    top: 50%;
    content: '';
    width: 4px;
    height: 24px;
    background: #2095f2;
    margin-top: -12px;
    border-radius: 3px;
}
.mod-panel .bd{
    padding: 20px;
}
.mod-panel .bd p{
    margin-bottom: 10px;
    line-height: 26px;
    text-indent: 2em;
}
.mod-panel .bd h4{
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: var(--title-color);
}
.mod-panel .bd code{
    display: block;
    margin-bottom: 20px;
    padding: 15px;
    background: #f8f8f8;
    border-radius: 6px;
}
.mod-panel .bd pre{
    white-space: break-spaces;
    word-break: break-all;
    word-wrap: break-word;
}
.mod-panel .bd .table-inner{
    margin-top: 15px;
    overflow-x: auto;
}
.mod-panel .bd table{
    width: 100%;
}
.mod-panel .bd caption{
    line-height: 32px;
    font-size: 16px;
    font-weight: bold;
}
.mod-panel .bd thead{
    background: #f6f8fa;
}
.mod-panel .bd th,.mod-panel .bd td{
    padding: 6px 12px;
    border: 1px solid #e1e6ea;
    line-height: 24px;
    white-space: nowrap;
}
.mod-panel .bd td.th{
    background: #f6f8fa;
}
.mod-panel .bd td p{
    margin-bottom: 0;
    text-indent: 0;
}
.mod-panel .bd select{
    height: 36px;
    padding: 0 10px;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    vertical-align: middle;
    outline: none;
    border-radius: 4px;
}
.mod-panel .bd input[type="text"],.mod-panel .bd input[type="search"]{
    width: 240px;
    height: 36px;
    padding: 0 10px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    vertical-align: middle;
    outline: none;
    box-sizing: border-box;
}
.mod-panel .bd .btn {
    height: 36px;
    min-width: 80px;
    padding:0 15px;
    background: #2095f2;
    border: medium none;
    box-sizing: border-box;
    line-height: 36px;
    vertical-align: middle;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}
.mod-panel .bd .btn:hover{
	background: #1b85da;
}
.mod-panel .bd .btn-green{
	background: #4bae4f;
	color: #fff;
}
.mod-panel .bd .btn-green:hover{
	background: #47a04b;
}
.mod-panel .bd .btn-red{
	background: #f56954;
	color: #fff;
}
.mod-panel .bd .btn-red:hover{
	background: #f4543c;;
}
.mod-panel .bd .btn-orange{
	background: #ff9000;
	color: #fff;
}
.mod-panel .bd .btn-orange:hover{
	background: #e18309;
}
.mod-panel .bd .btn-small{
    min-width: 36px;
    margin-right: -1px;
    cursor: pointer;
}
.mod-panel .bd .btn[disabled]{
	background: #f0f0f0;
	color: #aaa;
}
.mod-panel .bd .text-green{
    color: #4bae4f;
}
.mod-panel .bd .text-red{
    color:#f56954;
}
.mod-panel .bd textarea{
    display: block;
	width: 100%;
	height: 120px;
	padding:5px 10px;
    background: #fafafa;
	border: 1px solid #ebebeb;
	box-sizing: border-box;
	border-radius: 5px;
	resize: none;
	outline: none;
}
.mod-panel .bd label{
    white-space: nowrap;
}
.mod-panel .input-wrapper{
    line-height: 24px;
}
.mod-panel .input-wrapper span{
    margin-right: 5px;
}
.mod-panel .suggestion{
	background: #fff;
}
.mod-panel .suggestion ul{
	border:1px solid #ebebeb;
}
.mod-panel .suggestion li{
	padding:0 10px;
	line-height: 30px;
	cursor: pointer;
}
.mod-panel .suggestion .active{
	background: #ccc;
}


.mod-article{
    margin-bottom: 65px;
}
.mod-article .hd{
    margin-top: -36px;
}
.mod-article .hd span{
    font-size: 24px;
}
.mod-article .bd{
    position: relative;
    padding: 30px 0;
}
.mod-article .bd::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '“';
    font-size: 60px;
    border-radius: 6px;
}
.mod-article .bd::after{
    position: absolute;
    bottom: -10px;
    right: 0;
    content: '”';
    font-size: 60px;
    border-radius: 6px;
}
.mod-article .bd p{
    margin-bottom: 12px;
    line-height: 28px;
    text-indent: 2em;
}

.mod-copy{
    margin-bottom: 65px;
    padding: 35px 0;
    background: rgb(246, 248, 250);
}
.mod-copy .bd{
    margin:0 5px;
}
.mod-copy .bd p{
    margin-bottom: 12px;
    line-height: 28px;
    text-indent: 2em;
}
.mod-copy .bd .buttons{
    margin: 15px 0;
}
.mod-copy .bd .text-red{
    font-weight: bold;
    color: #fd7474;
}
.mod-copy .bd code{
    display: block;
    margin-bottom: 15px;
    padding: 8px 15px;
    line-height: 20px;
    background: #fff;
    border: 1px solid rgba(27,31,36,.15);
    border-radius: 5px;
    word-break: break-word;
}


@media screen and (max-width: 1020px) {
    .mod-poster{
        margin-bottom: 25px;
    }
    .mod-poster .bd{
        padding: 25px 0;
        margin-bottom: 15px;
    }
    .mod-poster .bd h1{
        margin-bottom: 5px;
        line-height: 26px;
        font-size: 20px;
    }
    .mod-poster .bd p{
        line-height: 22px;
        font-size: 13px;
        overflow: hidden;
    }

    .mod-article{
        margin-bottom: 25px;
    }
    .mod-article .hd span{
        font-size: 20px;
    }
    .mod-article .bd{
        padding: 15px 0;
    }
    .mod-article .bd::before{
        font-size: 48px;
    }
    .mod-article .bd::after{
        font-size: 48px;
    }
    .mod-article .bd p{
        margin-bottom: 7px;
        line-height: 22px;
        font-size: 14px;
    }

    .mod-copy{
        padding: 15px 0 25px;
        margin-bottom: 25px;
    }
    .mod-copy .bd p{
        line-height: 22px;
        font-size: 14px;
    }
}

@media screen and (max-width: 640px) {
    .mod-poster .buttons{
        margin-bottom: 10px;
        padding: 10px 0;
    }
    .mod-poster .btn{
        min-width: 64px;
        margin: 2px 1px;
        padding: 0 15px;
        height: 36px;
        line-height: 35px;
        font-size: 14px;
    }
    .mod-poster .btn img{
        display: none;
    }

    .mod-panel .bd{
        padding: 15px 10px;
    }
    .mod-panel .bd input[type="text"]{
        width: 200px;
    }
    .mod-panel .bd .c-ft {
        padding: 10px;
    }
    .mod-panel .btn {
        min-width: 64px;
        margin: 2px 1px;
        padding: 0 15px;
        height: 36px;
        line-height: 35px;
        font-size: 14px;
    }
}
